.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: black;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
  }
  
  .btn-link:hover {
    color:red;
    text-decoration:none; 
    cursor:pointer;  
  }
  