/* Menus*/
nav ul li {
    margin-bottom: 5px;
    text-transform: uppercase;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

  /* links decoration */
a {
    color: #000000;
    text-decoration: none;
}

a:hover 
{
    color:red;
    text-decoration:none; 
    cursor:pointer;  
}