body {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 { 
    font-family: 'Phosphate';
    font-size: 3em;
    text-align: center;
}

.top_main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    background-color: #FDFCAC;
    border : none;
}

section.list-container td tr{
  background-color: papayawhip;

}

#content {
    width:50%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

/* table css */
/* alternating table row colours */
table tr:nth-child(odd){
	background-color: #FDFCAC;
}

/* color every 2nd col  blue */
table td:nth-child(2n){
  background-color: lightblue;
}
table th:nth-child(2n){
  background-color: lightblue;
}
td {
  padding: 10px;
  border-radius: 5%;
}

th {
  padding: 10px;
  border-radius: 5%;

}


/* Menus*/
nav ul li {
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

