body {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

    

}

h1 { 
    font-family: 'Phosphate';
    font-size: 3em;
}

.top_main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    background-color: #FDFCAC;
    border : none;

    
}

#content {
    width:80%;
    margin:auto;

    /* display:flex;
    flex-direction: column; */
    /* justify-content: space-around; */
   
    
}

/* Menus
nav ul li {
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }


/* table style */

table {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1rem;
    margin: 0.5rem;
    line-height: 1.5;
    border-bottom: 1px solid #d0d0d0;
    flex: 1 1 auto;
}
  
th {
    align:left;
    font-weight: 700;
    background-color: #f2f2f2;
}
  
  .th > .td {
    white-space: normal;
    justify-content: left;
  }
  
  .tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  } */ 