{% extends "base.html" %}
{% block content %}

<h2>Update a Transaction</h2>

<form action="/transactions/{{ transaction.id }}" method="POST">
    <div>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" value="{{ transaction.amount }}">
    </div>
    
    <div>
        <label for="merchant">Merchant:</label>
        <input type="text" id="merchant" name="merchant" value="{{ transaction.merchant.name }}">
    </div>
    
    <div>
        <label for="tag">Name:</label>
        <input type="text" id="tag" name="tag" value="{{ transaction.tag.category }}">
    </div>

    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}