{% extends 'base.html' %}

{% block content %}
    <h1>All Transactions</h1>

    <table>
        <tr>
            <th>Merchant</th>
            <th></th>
            <th>Amount</th>
            <th></th>   
            <th>Tag</th>
            <th></th>
            <th>Icons</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.merchant.name}}</td>
            <td></td>
            <td>{{ transaction.amount }}</td>
            <td></td>
            <td>{{ transaction.tag.category }}</td>
            <td></td>
            <td><i><img src="/static/images/edit_icon.svg" alt=""></i><i><img src="/static/images/delete_icon.svg" alt=""></i></td>
        </tr>
            
        {% endfor %}
    </table>
{% endblock content %}