{% extends 'base.html' %}

{% block content %}
    <h1>All Transactions</h1>

    <table>
        <tr>
            <th>Merchant</th>
            <th></th>
            <th>City</th>
            <th></th>
            <th>Amount</th>
            <th></th>   
            <th>Tag</th>
            <th></th>
            <th>Icons</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td> <a href="/transactions/{{ transaction.id }}/edit">
                {{ transaction.merchant.name}}
            </a></td>
            <td></td>
            <td>{{ transaction.merchant.city }}</td>
            <td></td>
            <td>{{ transaction.amount }}</td>
            <td></td>
            <td>{{ transaction.tag.category }}</td>
            <td></td>
            <td>


            <i>
                <form action="/transactions/{{ transaction.id }}/delete" method="POST">
                    <input class="btn btn--danger" type="submit" value="delete" />
                    </form>
            </i>

            <i>
                <form action="/transactions/{{ transaction.id }}/edit" method="POST">
                    <input class="btn btn--danger" type="submit" value="edit" />
                </form>
            </i>







                </td>
        </tr>
            
        {% endfor %}
    </table>
    <ul>
        <li><a href="/transactions/new">Create New</a></li>
    </ul>
{% endblock content %}