{% extends 'base.html' %}

{% block content %}
    <h2>All Transactions (<a href="/transactions/new"><i class="fa fa-plus" aria-hidden="true" title="add new transaction"></i></a>)</h2></th> 
    
    <!-- active filters -->
    <section id="filters">
        filter by tag:
        {% for tag in tags %}
        {% if tag.active %}
        [<a href="/transactions/{{ tag.id }}">{{ tag.category }}</a>]
        {% endif %}
        {% endfor %}
    </section>

    
    <table>
        <tr>
            <th>Merchant (<a href="/merchants/new"><i class="fa fa-plus" aria-hidden="true" title="add new merchant"></i></a>)</th>
            <th></th>
            <th>Amount</th>
            <th></th>   
            <th>Tag (<a href="/tags/new"><i class="fa fa-plus" aria-hidden="true" title="add new tag"></i></a>)</th>
            <th></th>
            <th>Edit/Delete</th>
        </tr>
        <!-- creates transaction table -->
        {% for transaction in transactions %}
        <tr>
            <td> 
                <form action="/merchants/{{ transaction.merchant.id }}/edit" method="POST">
                    <button class = "btn-link" type="submit">{{ transaction.merchant.name }}</button>
                </form>
            </td>
            <td></td>
            <td>£{{ "%.2f" % transaction.amount }}</td>
            <td></td>
            <td>
                <form action="/tags/{{ transaction.tag.id }}/edit" method="POST">
                    <button class = "btn-link" type="submit">{{ transaction.tag.category }}</button>
                </form>
            </td>
            <td></td>
            <td>

                <form action="/transactions/{{ transaction.id }}/delete" method="POST">
                    <button type="submit" value="delete" />
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
    
                <form action="/transactions/{{ transaction.id }}/edit" method="POST">
                    <button type="submit" value="delete" />
                        <i class="fa fa-edit"></i>
                    </button>
                </form>
            </td>   
        </tr>
            
        {% endfor %}

        <tr>
            <th>Total</th>
            <th></th>
            <td>£{{ "%.2f" % transactions | sum(attribute='amount') }}</td>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </table>

{% endblock content %}