{% extends "base.html" %}
{% block content %}

<h2>Add a New Transaction</h2>

<form action="/transactions" method="POST">

    <div>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount">
    </div>
    
    <div>
        <label for="merchant">Merchant:</label>
        <select name="merchant_id" id="merchant">
            {% for merchant in merchants %}
            {% if merchant.active %}
            <option value= "{{ merchant.id }}">
                {{ merchant.name}}
            </option>"
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class = "add_new_option"><a href="/merchants/new">Add new merchant</a>
    </div>

    <div>
        <label for="tag">Category:</label>
        <select name="tag_id" id="tag">
            {% for tag in tags %}
            <option value= "{{ tag.id }}">
                {{ tag.category}}
            </option>"
                
            {% endfor %}
        </select>
    </div>
    <div class = "add_new_option"><a href="/tags/new">Add new tag</a>
    </div>




    <div>
    <input type="submit">
    </div>
</form>

{% endblock %}