{% extends 'base.html'%}
{% block content %}
<h2>All Merchants (<a href="/merchants/new"><i class="fa fa-plus" aria-hidden="true" title="add new merchant"></i></a>)</h2></th> 

<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Edit/Delete</th>
    </tr>
    <!-- creates merchants table -->
    {% for merchant in merchants %}
    <section class="list-container">
    <tr>
        <td> {{ merchant.name }}
        </td>   
        <td>
            {% if merchant.active == true %} <p class="active">Active</p>
            {% endif %}
            {% if merchant.active == false %}<p class="inactive">Inactive</p>
            {% endif %}

        </td>
        <td>
            <form action="/merchants/{{ merchant.id }}/delete" method="POST">
                <button type="submit" value="delete" />
                    <i class="fa fa-trash"></i>
                </button>
            </form>

            <form action="/merchants/{{ merchant.id }}/edit" method="POST">
                <button type="submit" value="edit" />
                    <i class="fa fa-edit" title="edit transaction"></i>
                </button>
            </form>
        </td>
      
    </tr>
    </section>
    {% endfor %}
</table>


{% endblock %}