{% extends 'base.html'%}
{% block content %}
<h1>All Merchants</h1>

<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Icons</th>
    </tr>
    {% for merchant in merchants %}
    <section class="list-container">
    <tr>
        <td> {{ merchant.name }}</td>   
        <td></td>
        <td>
            <form action="/merchants/{{ merchant.id }}/delete" method="POST">
                <button type="submit" value="delete" />
                    <i class="fa fa-trash"></i>
                </button>
            </form>

            <form action="/merchants/{{ merchant.id }}/edit" method="POST">
                <button type="submit" value="edit" />
                    <i class="fa fa-edit" title="edit transaction"></i>
                </button>
            </form>
        </td>
      
    </tr>
    </section>
    {% endfor %}
</table>

<ul>
    <li><a href="/merchants/new">Create New</a></li>
</ul>
{% endblock %}