<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <title>Spend Tracker</title>
</head>
<body>
    <main>
        
        <section class="top_main">

            <h1>Spend Tracker</h1>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/transactions">Transactions</a></li>
                    <li><a href="/merchants">Retailers</a></li>
                    <li><a href="/tags">Tags</a></li>
                </ul>
            </nav>
        </section>

        <section id="content">
            {% block content %}
      
            {% endblock%}
        </section>
    </main>
    
</body>
</html>