{% extends "base.html" %}
{% block content %}

<h2>Add a New Merchant</h2>

<form action="/merchants" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="eg: Tesco, Amazon" required>
    </div>
    <!-- initialises active to true -->
    <input type="hidden" id="active" name="active" value="true">


    <!-- submit buttons routes choice -->
    <div>
    <input type="submit" name="submit" value="submit">
    </div>

    </form>
</form>

{% endblock %}