{% extends "base.html" %}


{% block content %}
<h2>Add a New Transaction</h2>

<form action="/transactions" method="POST">

    <div>
        <label for="amount">Amount: £</label>
        <input type="text" id="amount" name="amount" placeholder="eg: 10.99, -5.55" required> 
    </div>
    
<div >
    <label for="merchant">Retailer:</label>
    <select name="merchant_id" id="merchant">
        <option disabled value="" selected>select a retailer</option>
        {% for merchant in merchants %}
            {% if merchant.active %}
                <option value= "{{ merchant.id }}">
                    {{ merchant.name}}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    <div class = "add-new-option"><a href="/merchants/new">Add new retailer</a>
    </div>
</div>
    <div class="add-new-option">
        <label for="tag">Tag:</label>
        <select name="tag_id" id="tag">
            <option disabled value="" selected>select a tag</option>
            {% for tag in tags %}
            {% if tag.active %}
            <option value= "{{ tag.id }}">
                {{ tag.category}}
            </option>"
            {% endif %}
                
            {% endfor %}
        </select>
        <div class="add-new-option"><a href="/tags/new">Add new tag</a>

    </div>
    </div>




    <div>
    <input type="submit">
    </div>
</form>

{% endblock %}